* {
    margin: 0;
    padding: 0;
    }

    body{
        background: #000;
    }


    .words{
        max-width:50%;
        margin: 2rem auto;
        padding: 1rem;
        background-color: #fff;
    }
